.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./img/img1.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./img/img2.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./img/img3.jpg);
}
